<div class="page">
  <div class="nav b-b">
    <div class="title">
     NGX Dynamic Forms
    </div>
  </div>
  <div class="content b-b">
    <div class="slider b-r">

    </div>
    <div class="comps  b-r">
      <div class="types" *ngFor="let typeData of compsData;">
        <div class="tab">
          <div class="title"> {{typeData.name}}</div>
          <div class="comps">
            <div class="comp container" dragula="CompItem"  draggable="false" id="left" [(dragulaModel)]="typeData.data" >
              <div class="comp-lib-item" *ngFor="let comp of typeData.children" (click)="addComp(comp)">
                <img class="icon no-drag"  draggable="false" [src]="comp.icon" alt="">
                <div class="name no-drag"  draggable="false">{{comp.name}}</div>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="editor b-r">
      <div class='container' dragula="CompItem" id="right" [(dragulaModel)]="pageComps">
        <ng-container *ngIf="pageComps?.length">
          <div *ngFor="let compItem of pageComps;let index = index;">
            <div class="comp-item" (click)="selectComp(compItem)" [ngClass]="{
              selectComp: compSelectComp?.id === compItem.id
            }">
              <ng-container *ngIf="compSelectComp?.id === compItem.id">
                <span class="drag-icon handle" >
                  <img class="icon move-icon" src="assets/form-editor-designer/drag.svg" alt="">
                </span>
                <span class="control-icon" (click)="controlEvent('delete',index)">
                  <img class="icon" src="assets/form-editor-designer/delete.svg" alt="">
                </span>
                <span class="copy-icon" (click)="controlEvent('copy',index)">
                  <img class="icon" src="assets/form-editor-designer/copy.svg" alt="">
                </span>
              </ng-container>
         

              <app-input *ngIf="compItem && compItem.type === 'input'"></app-input>
              <app-button *ngIf="compItem && compItem.type === 'button'"> </app-button>
              <app-content *ngIf="compItem && compItem.type === 'content'"></app-content>
            </div>
          </div>
        </ng-container>

        <div class="form-empty" *ngIf="!pageComps?.length">
          从左侧拖拽或点击来添加字段
        </div>
      </div>
    </div>
    <div class="setting">
      <div>
        <button (click)="addDyComp()">addDyComp</button>
      </div>
      <div class='container' dragula="CompItem" id="right" [(dragulaModel)]="pageComps">
        <section class="dyRoom" #dyRoom></section>
      </div>
   
    </div>
  </div>
  <div class="floor"></div>
</div>